<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>eShop</title>
   <script src="https://kit.fontawesome.com/e7b2594638.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
   <script src="script.js"></script>
</head>

<body>
   <div id="root">
      <header class="header">
         <button class="cart-button" type="button">Корзина</button>
         <div class="search">
            <input class="input" type="text">
            <i class="fa-solid fa-magnifying-glass" style="color: rgb(55, 0, 255)"></i>
         </div>
      </header>

      <div v-if="showBasket" class="cartContent">
         <i class="fa-regular fa-rectangle-xmark fa-lg closeBasket"></i>
         <div class="cartHeader">
            <div>Название товара</div>
            <div>Количество</div>
            <div>Цена за шт.</div>
            <div>Итого</div>
         </div>

         <div class="cartLine" v-for="item in basketList">
            <div>{{ item.product_name }}</div>
            <div class="productQty"> {{ item.quantity }} шт.</div>
            <div class="price">$ {{ item.price }}</div>
            <div class="totalCartPrice">$ {{ item.quantity * item.price }}</div>
         </div>

         <div class="cartFooter">
            Товаров в корзине на сумму: $ {{ getTotalBasketPrice }}
         </div>
      </div>

      <main>
         <div class="goods-list">
            <div class="goods-item" v-for="item in filteredList">
               <div>{{ item.product_name }}</div>
               <div>{{ item.price }}</div>
            </div>
         </div>
      </main>
      <div class="totalPrice">Total price: {{ getTotalPrice }}</div>
   </div>

</body>

</html>