@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.hide {
    display: none;
}

.header {
    height: 50px;
    background-color: rgb(187, 224, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.search {
    margin-right: 10px;
}

.input {
    width: 100px;
    margin-right: 5px;
}

.cartContent {
    width: 500px;
    z-index: 2;
    position: absolute;
    top: 46px;
    left: 10px;
    background-color: white;
    border: 1px solid #c9c8c8;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.closeBasket {
    margin-left: 477px;
}

.cartHeader {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.cartLine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.cartFooter {
    font-weight: bold;
    text-align: right;
}


.cart-button {
    width: 100px;
    height: 28px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(141, 141, 141);
    border-radius: 3px;
    box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 4px 4px 6px 0px rgba(100, 100, 100, 0.2);
    padding: 10px;
    height: 100px;
}

.itemName {
    font-size: 20px;
}

.itemPrice {
    align-self: flex-end;
    margin-top: auto;
    font-size: 18px;
    color: rgb(160, 0, 0);
}

.totalPrice {
    margin-left: 10px;
    padding-top: 20px;
    color: rgb(0, 3, 175);
    font-size: 22px;
}