@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.header {
    height: 50px;
    background-color: rgb(187, 224, 255);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.cart-button {
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(255, 112, 112);
    border: 1px solid white;
    box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
}

.goods-item {
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 4px 4px 6px 0px rgba(100, 100, 100, 0.2);
    padding: 10px;
}